//COLORS
$white: white;

//PRIMARY
// $primary-green: #eb9239;
$primary-green: #add8b5;
$primary-white: white;

$primary-violet: #743c82;

//SECONDARY

$secondary-green: #ccefd3;

$secondary-violet: #81548c;

$danger-btn: #d40f43;
/* $payment-btn: green; */

// COLOR CARDS
$card-violet: #81548cb0;

// BG-CATEGORY-CAROUSEL
$bg-category-carousel: rgba(173, 216, 181, 0.7);
