//COLORS
$white: white;

//PRIMARY
$primary-green: #add8b5;

$primary-violet: #743c82;

//SECONDARY

$secondary-green: #ccefd3;

$secondary-violet: #81548c;

// COLOR CARDS
$card-violet: #81548cb0;

// BG-CATEGORY-CAROUSEL
$bg-category-carousel: rgba(173, 216, 181, 0.7);